body {
    padding: 0;
    margin: 0;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: gray;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.card {
    height: 600px; 
    border-radius: 15px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(216, 50%, 16%);
    padding: 15px;
    box-shadow: 0 0 20px hsl(217, 55%, 10%) ;
}
h4 { 
    text-align: left;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: white;
}
h4:hover, .creator-name:hover {
    cursor: pointer;
    color: aqua;
}

.description {
    width: 300px;
}

p {
    text-align: left;
    font-family: 'Outfit', sans-serif;
    font-weight: 300; 
    color: hsl(220, 15%, 55%);
    font-size: 18px;
}
.container {
    display: flex; 
    align-items: center; 
    justify-content:center;
    flex-direction: column;
    background-color: hsl(217, 54%, 11%);
    width: 100vw;
    height: 100vh;
}
.nft-image {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    transition: 0.6s;
    cursor: pointer;
}
.information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.creator-avatar {
    width: 25px;
    border: solid white 2px;
    border-radius: 50%;
}
.price-time {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.info-data {
    margin-left: 10px;
}
.acqua_highlight {
    color: aqua;
}
.line {
    color: hsl(215, 32%, 27%);
}
.overlap {
    position: relative;
    bottom: 300px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 255, 255, 0.5);
    display: none;
}

.nft-image:hover + .overlap{
    display: flex;
}
